@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.logo-opacity {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.logo-opacity:hover {
  opacity: 1;
}

@keyframes border-glow {
    0% {
        box-shadow: 0 0 10px rgba(16, 185, 129, 0.3),
                   0 0 20px rgba(16, 185, 129, 0.2);
    }
    50% {
        box-shadow: 0 0 20px rgba(16, 185, 129, 0.5),
                   0 0 40px rgba(16, 185, 129, 0.4);
    }
    100% {
        box-shadow: 0 0 10px rgba(16, 185, 129, 0.3),
                   0 0 20px rgba(16, 185, 129, 0.2);
    }
}

.hover-border-glow:hover {
    animation: border-glow 3s linear infinite;
}

.bubble-text {
    color: #10B981;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    letter-spacing: 0.05em;
    -webkit-text-stroke: 2px #0D9488;
}
